.parent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDiv {
  max-width: 600px;
  background-color: lightgrey;
  color: rgb(31, 28, 28);
  text-align: left;
  padding: 0 30px 30px 30px;
}

.mainBlue {
  font-weight: bolder;
  margin-bottom: 30px;
}

.innerDiv h3 {
   text-align: center;
}

.req {
  margin: 30px 0;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-bottom: 20px;
}

.darkGreyText {
  color: #5a5a5a;
  font-weight: bolder;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
}
