html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.blue-gradient {
  background-image: linear-gradient(#060556, #435fdc);
}

.second-blue {
  background: #2255f0;
}

.white-shadow {
  box-shadow: 0px 3px 4px #fff;
}

.button {
  border: none;
  height: 40px;
  border-radius: 10px;
}

.main-blue-shadow {
  box-shadow: 0px 3px 4px #060556;
}

.white {
  color: white;
}

.main-blue {
  color: #060556;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
