.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 20vh;
  width: 400px;
  padding: 20px;
}

.logo {
  width: 100%;
  height: auto;
}

.loginSignup {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.signup {
  width: 100%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .innerContainer {
    display: flex;
    flex-direction: column;
    gap: 20vh;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
