.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

.loginSignup {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
